<h2>Show post</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

</ul>

<%= render PolymorphicAssociation.PostCommentView, "new.html",
                                conn: @conn,
                                post: @post,
                                changeset: @changeset %>

<%= for comment <- @comments do %>
  <h3><%= comment.body %></h3>
<% end %>

<%= link "Edit", to: post_path(@conn, :edit, @post) %>
<%= link "Back", to: post_path(@conn, :index) %>
