<h2>Show user</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

</ul>

<%= render PolymorphicAssociation.UserCommentView, "new.html",
                                conn: @conn,
                                user: @user,
                                changeset: @changeset %>

<%= for comment <- @comments do %>
  <h3><%= comment.body %></h3>
<% end %>

<%= link "Edit", to: user_path(@conn, :edit, @user) %>
<%= link "Back", to: user_path(@conn, :index) %>
