<%= form_for @changeset, user_user_comment_path(@conn, :create, @user), fn f -> %>

  <div class="form-group">
    <%= label f, :Add_a_comment, class: "control-label" %>
    <%= textarea f, :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Publish", class: "btn btn-primary" %>
  </div>
<% end %>
